<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta property="og:description" content="Primer is a program from Artsy to help new collectors.">
    <meta charset="utf-8">
    <title>Artsy Primer</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/mktLPSupportCompat.css">
    <link href="https://www.artsy.net/images/favicon.ico" rel="icon" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://fast.fonts.net/jsapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.js"></script>
    <script type="text/javascript" src="https://fast.fonts.net/jsapi/core/mt_otf.js"></script>
    <%- include('reset') %>
    <%- include('style') %>
  </head>
  <body>
    <img src="artsy-logo.svg" />
    <main>
      <h1>Artsy is currently down for maintenance</h1>
      <h2>Please check back later</h2>
    </main>
  </body>
</html>
